*{
	box-sizing: border-box;
}


body {
	background-color: #e7f6ff;
	margin: 0;
	font-family: 'Inter', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// z-index: auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

button{
	cursor: pointer;
}
.wrapper{
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px;
margin: 85px auto;

}

header{
	border-bottom: 1px solid #EAEAEA;
	padding: 40px;
		img{
			margin-right: 15px;
		}
		h3,p{
			margin: 0;
		}
	.header-price{

		align-items: center;
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;	
		color: #5C5C5C;
	}
}

.content{

	padding: 40px;
	h1{
		margin: 0;
	}

	.priceInner{
		display: flex;
		justify-content: space-between;
		.priceSpan{
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 11px;
			line-height: 13px;
			text-transform: uppercase;
			color: #BDBDBD;
			
		}
		.itemPrice{
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
		}
		button{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			cursor: pointer;
			background: #FFFFFF;
			border: 1px solid #F2F2F2;
			border-radius: 8px;
			
		}
	}


	.search-wrapper{
		margin-bottom: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.search{
			text-align: center;
			align-items: center;
			justify-content: center;
			display: flex;
			min-width: 250px;
			min-height: 45px;
			border: 1px solid #F3F3F3;
			border-radius: 10px;
			.search-btn{
					// text-align: center;
					padding: 0;
					border: none;
				 background-color: inherit;
			}
			.search-input{
				margin-left: 13px;
				opacity: 0.7;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;	
				border: none;
				
			}
		}

	}


	.sneakers{
		.sneaker-wrapper{
		position: relative;

		}
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.card{
			padding: 30px;
			margin-bottom: 40px;
			text-align: center;
			border: 1px solid #F3F3F3;
			border-radius: 40px;
			max-width: 210px;
			transition: box-shadow .2s ease-in-out, transform  .2s ease-in-out;
			&:hover{
				box-shadow: 0px 14px 30px rgba(0,0,0,0.05);
				transform: translateY(-5px);
			}
			.card-like-btn{
				justify-content: center;
				align-items: center;
				border: none;
				border-radius: 7px;
				width: 32px;
				height: 32px;
				// background-color: #FEF0F0;
				display: flex;
				position: absolute;
				top: 0;
			}
			// .card-like-btn:hover{
			// 	background-color: #FFFFFF;
			// 	border: 1px solid #F8F8F8;
			// 	transition: background .3s linear;
			// }
			.card-unlike-btn{
				justify-content: center;
				align-items: center;
				border: 1px solid #F8F8F8;
				border-radius: 7px;
				width: 32px;
				height: 32px;
				background-color: #FFFFFF;
				display: flex;
				position: absolute;
				top: 0;
			}
			.card-unlike-btn:hover{
				justify-content: center;
				align-items: center;
				border: none;
				border-radius: 7px;
				width: 32px;
				height: 32px;
				background-color: #FEF0F0;
				display: flex;
				fill: red;
				position: absolute;
				top: 0;
				transition: background .2s linear;
			}
			.buy-btn:hover{
				color: #fff;
				background-color: #3CC755;
				transition: background .2s linear;
			}
			.sneaker-title{
				text-align: left;
					font-weight: 400;
					font-size: 13px;
			}

		}
	}

}




// @media(min-width:400px){
// 	.content{
// 		margin: 0;
// 	}
// }
